<header class="header">
    <section class="contenedorMain">
        <div class="tituloBiblioteca">
            <a class="navbar-brand" href="#">Fabrica Eléctrica EGG</a>
        </div>
        <div class="container contenedorLibros">
            <p class="tituloLibros">Encontrá todos los artículos eléctricos Aquí!</p>

            <p class="tituloLibros" th:if = "${session.usuariosession !=null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>
            <a class="btn btn-xl mt-2 boton" href="/login">Ingresa</a>
        </div>
    </section>
</header>
