

h2 {
    color: #0056b3;
}

/* Botones */
.buttons {
    margin-top: 20px;
}


/* Estilos para el botón */
button .btn {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 20%;
    margin: auto;
    text-align: center;
}

.elementosNav{
    font-weight: 700;
}

.elementosNav a {
    text-decoration:none;
}

.elementosNav a:hover {
    text-decoration:none;
}

.logo{
    width: 40%;
    margin: auto;
}

.logo-img{
    max-height:50px;
    width 50px;
}

.header{
    background-image: url(../img/FondoZoom_2.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
}
