
.header{
    background-image: url(../img/FondoZoom_2.jpg);
    height: 750px;
    background-size: cover;
    display: flex;
    justify-content: end;
}

.logo{
    width: 120px;
    margin: auto;
}

.logo-img{
    max-height:50px;
    width 50px;
}

.mensajeExito{
    width: 20%;
    margin: auto;
    text-align: center;
}

.mensajeError{
    width: 20%;
    margin: auto;
    text-align: center;
}

.elementosNav{
    font-weight: 700;
}

.elementosNav a {
    text-decoration:none;
}

.elementosNav a:hover {
    text-decoration:none;
}

footer {
    text-align: center;
}

@media (max-width: 455px) {
    .navbar-brand {
        width: 40px;
    }
    .logo{
        width: 120px;
    }
}

